# Use a username and password from the client level of the hierarchy
username: MyClient
password: MyClientPassword
api_key: ReallyLongRandomString1234567789
phone: [Put a phone number here.  Just digits, no hyphens. That phone number should receive SMS messages during these tests.]
api_response_url: https://www.example.com
